In [188]:
import pandas as pd
import numpy as np
df=pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [189]:
df.shape

(32561, 15)

In [190]:
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [191]:
type(race_count)

pandas.core.series.Series

## V1

In [192]:
average_age_men=df.groupby('sex').age.mean()
average_age_men = float(average_age_men.drop("Female"))
average_age_men = round(average_age_men,1)
average_age_men

39.4

## V2

In [137]:
average_age_men = round(df[df['sex']=='Male'].age.mean(),1)
average_age_men

39.4

In [372]:
percentage_bachelors = df.groupby('education').size()
percentage_bachelors

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
dtype: int64

In [373]:
5355/32561

0.16446055096587942

In [376]:
percentage_bachelors = df.groupby('education').size()
percentage_bachelors = percentage_bachelors.loc["Bachelors"]/percentage_bachelors.sum()
percentage_bachelors = round(percentage_bachelors * 100,1)
percentage_bachelors

16.4

In [221]:
df['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [253]:
df['education'].unique().tolist()

['Bachelors',
 'HS-grad',
 '11th',
 'Masters',
 '9th',
 'Some-college',
 'Assoc-acdm',
 'Assoc-voc',
 '7th-8th',
 'Doctorate',
 'Prof-school',
 '5th-6th',
 '10th',
 '1st-4th',
 'Preschool',
 '12th']

In [430]:
high_salary = df[(df.education=='Bachelors') & (df.salary==">50K")]
high_salary.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K

In [323]:
high_salary = df[df.salary == ">50K"]
high_salary.shape

(7841, 15)

# High Salary w/ Adv Education

In [365]:
high_salary_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
high_salary_adv_edu

3486

In [366]:
total_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
total_adv_edu

7491

In [377]:
higher_education = high_salary_adv_edu/total_adv_edu
higher_education = round(higher_education * 100,1)
higher_education

46.5

# High Salary w/o Adv Education

In [368]:
high_salary_reg_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
high_salary_reg_edu

4355

In [369]:
total_not_adv_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
total_not_adv_edu

25070

In [440]:
lower_education = high_salary_reg_edu/total_not_adv_edu
lower_education = round(lower_education * 100,1)
lower_education

17.4

In [441]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [442]:
num_min_workers = df[df["hours-per-week"] == min_work_hours].education.count()
num_min_workers

20

In [443]:
rich_percentage = df[df["hours-per-week"] == min_work_hours & (df.salary==">50K")].education.count()
rich_percentage

2

In [444]:
rich_percentage = rich_percentage/num_min_workers * 100
rich_percentage

10.0

In [445]:
rich_percentage = round(rich_percentage,1)
rich_percentage

10.0

In [450]:
df = df.rename(columns={"native-country": "country"})
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [478]:
highest_earning_country = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).idxmax()
highest_earning_country

'Iran'

In [494]:
highest_earning_country_percentage = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).max()
highest_earning_country_percentage = round(highest_earning_country_percentage*100,1)
highest_earning_country_percentage

41.9

In [505]:
top_IN_occupation = df[df.country.isin(['India']) & (df.salary==">50K")].occupation.value_counts()
top_IN_occupation = top_IN_occupation.idxmax()
top_IN_occupation

'Prof-specialty'