In [56]:
# import libraries
import pandas as pd
import numpy as np

In [57]:
# load data
df=pd.read_csv('../data/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [58]:
#data shape
df.shape

(32561, 15)

# create all individual codes to be used in Function (see bottom)

In [59]:
# count values of all races in the "race column"
race_count = df["race"].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [60]:
# calculate the average age of all men, round to nearest 1 decimal place
average_age_men = round(df[df['sex']=='Male'].age.mean(),1)
average_age_men

39.4

In [61]:
# determine the percentage of people with a bachelors degree

# group by education column, and then identify the size of each
percentage_bachelors = df.groupby('education').size()
# loc the bachelors number, and divide it by the total number of people
percentage_bachelors = percentage_bachelors.loc["Bachelors"]/percentage_bachelors.sum()
# create a percentage (x100) and round to nearest 1 decimal place
percentage_bachelors = round(percentage_bachelors * 100,1)
percentage_bachelors

16.4

In [62]:
# determine unique values in 'salary' column
df['salary'].unique().tolist()

['<=50K', '>50K']

In [63]:
# determine unique values in 'education' column
df['education'].unique().tolist()

['Bachelors',
 'HS-grad',
 '11th',
 'Masters',
 '9th',
 'Some-college',
 'Assoc-acdm',
 'Assoc-voc',
 '7th-8th',
 'Doctorate',
 'Prof-school',
 '5th-6th',
 '10th',
 '1st-4th',
 'Preschool',
 '12th']

In [64]:
# filter dataframe by only 'bachelors' with salary '>50k'
high_salary = df[(df.education=='Bachelors') & (df.salary==">50K")]
high_salary.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K

### High Salary w/ Adv Education

In [65]:
# get count of all people with advanaced education (Bachelors, Masters, and Doctorate) making more than 50k salaraies
high_salary_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
high_salary_adv_edu

3486

In [66]:
# get count of all people with advanaced education (Bachelors, Masters, and Doctorate)
total_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
total_adv_edu

7491

In [67]:
# get percentage of people with advanced education making more than 50k salaraies
higher_education = high_salary_adv_edu/total_adv_edu
higher_education = round(higher_education * 100,1)
higher_education

46.5

### High Salary w/o Adv Education

In [68]:
# get count of all people without advanced education (NOT Bachelors, Masters, and Doctorate) making more than 50k salaraies
high_salary_reg_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
high_salary_reg_edu

4355

In [69]:
# get count of all people without advanaced education (NOT Bachelors, Masters, and Doctorate)
total_not_adv_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
total_not_adv_edu

25070

In [70]:
# get percentage of people without advanced education making more than 50k salaraies
lower_education = high_salary_reg_edu/total_not_adv_edu
lower_education = round(lower_education * 100,1)
lower_education

17.4

In [71]:
# determine the minimum number of hours worked by people
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

In [72]:
# count of people working the minimum number of hours
num_min_workers = df[df["hours-per-week"] == min_work_hours].education.count()
num_min_workers

20

In [73]:
# count of people working the minimum number of hours that make over 50k salaries
rich_percentage = df[df["hours-per-week"] == min_work_hours & (df.salary==">50K")].education.count()
rich_percentage

2

In [74]:
# determine the percentage of people working minimum number of hours who make over 50k salaries
rich_percentage = round(rich_percentage/num_min_workers * 100,1)
rich_percentage

10.0

In [75]:
# rename "native-country" column to "country"
df = df.rename(columns={"native-country": "country"})
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [76]:
# determine highest earning country.
# filter df by salaries greater than 50k.
# get the value counts of each country's rich (>50k) and divide it by the total number of people in that country
# identify the country with the highest value count
highest_earning_country = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).idxmax()
highest_earning_country

'Iran'

In [77]:
# determine the percentage of people in the highest earning country that make more than 50k salaries
# filter df by salaries greater than 50k.
# get the value counts of each country's rich (>50k) and divide it by the total number of people in that country
# identify the percentage of the country with the highest value count
highest_earning_country_percentage = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).max()
highest_earning_country_percentage = round(highest_earning_country_percentage*100,1)
highest_earning_country_percentage

41.9

In [78]:
# determine the higest earning occupation in India
# filter by India with salaries greater than 50k. Count the values of each occupation
top_IN_occupation = df[df.country.isin(['India']) & (df.salary==">50K")].occupation.value_counts()
# identify the occupation with the highest value count
top_IN_occupation = top_IN_occupation.idxmax()
top_IN_occupation

'Prof-specialty'

# create Function using codes above

In [81]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('../data/adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df["race"].value_counts()

    # What is the average age of men?
    average_age_men = round(df[df['sex']=='Male'].age.mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = df.groupby('education').size()
    percentage_bachelors = percentage_bachelors.loc["Bachelors"]/percentage_bachelors.sum()
    percentage_bachelors = round(percentage_bachelors * 100,1) 

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    high_salary_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
    total_adv_edu = df[df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
    higher_education = high_salary_adv_edu/total_adv_edu
    higher_education = round(higher_education * 100,1)
    
    high_salary_reg_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate']) & (df.salary==">50K")].education.count()
    total_not_adv_edu = df[~df.education.isin(['Bachelors','Masters','Doctorate'])].education.count()
    lower_education = high_salary_reg_edu/total_not_adv_edu
    lower_education = round(lower_education * 100,1)

    # percentage with salary >50K
    higher_education_rich = higher_education
    lower_education_rich = lower_education

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df["hours-per-week"].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df["hours-per-week"] == min_work_hours].education.count()

    rich_percentage = df[df["hours-per-week"] == min_work_hours & (df.salary==">50K")].education.count()
    rich_percentage = rich_percentage/num_min_workers * 100
    rich_percentage = round(rich_percentage,1)

    # What country has the highest percentage of people that earn >50K?
    df = df.rename(columns={"native-country": "country"})
    highest_earning_country = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).idxmax()
    highest_earning_country_percentage = (df[df['salary']=='>50K'].country.value_counts()/df.country.value_counts()).max()
    highest_earning_country_percentage = round(highest_earning_country_percentage*100,1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[df.country.isin(['India']) & (df.salary==">50K")].occupation.value_counts()
    top_IN_occupation = top_IN_occupation.idxmax()

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [82]:
calculate_demographic_data()

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}