In [295]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [296]:
# Import data
df = pd.read_csv("medical_examination.csv")
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [297]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [298]:
df['BMI'] = df["weight"]/((df["height"]/10)**(1/2))
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,15.126451
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,21.520712
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,15.755711
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,19.946674
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,14.178351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,18.542101
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,31.698740
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,24.545041
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,17.833587
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,17.462565

In [299]:
df['overwieght'] = np.where(df['BMI']>25,1,0)
df = df.drop(['BMI'], axis=1)
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overwieght
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,0
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,0
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,0

In [300]:
# Normalize data by making 0 always good and 1 always bad. 
# If the value of 'cholesterol' or 'gluc' is 1, make the value 0. 
# If the value is more than 1, make the value 1.
df['gluc'] = np.where(df['gluc']>1,1,0)
df['cholesterol'] = np.where(df['cholesterol']>1,1,0)
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overwieght
0,0,18393,2,168,62.0,110,80,0,0,0,0,1,0,0
1,1,20228,1,156,85.0,140,90,1,0,0,0,1,1,0
2,2,18857,1,165,64.0,130,70,1,0,0,0,0,1,0
3,3,17623,2,169,82.0,150,100,0,0,0,0,1,1,0
4,4,17474,1,156,56.0,100,60,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,0,0,1,0,1,0,0
69996,99995,22601,1,158,126.0,140,90,1,1,0,0,1,1,1
69997,99996,19066,2,183,105.0,180,90,1,0,0,1,0,1,0
69998,99998,22431,1,163,72.0,135,80,0,1,0,0,0,1,0
69999,99999,20540,1,170,72.0,120,80,1,0,0,0,1,0,0

In [301]:
df_cat = df.filter(["cholesterol","gluc","smoke","alco","active","cardio","overwieght"],axis=1)
df_cat

       cholesterol  gluc  smoke  alco  active  cardio  overwieght
0                0     0      0     0       1       0           0
1                1     0      0     0       1       1           0
2                1     0      0     0       0       1           0
3                0     0      0     0       1       1           0
4                0     0      0     0       0       0           0
...            ...   ...    ...   ...     ...     ...         ...
69995            0     0      1     0       1       0           0
69996            1     1      0     0       1       1           1
69997            1     0      0     1       0       1           0
69998            0     1      0     0       0       1           0
69999            1     0      0     0       1       0           0

[70000 rows x 7 columns]

In [302]:
df_cat = df_cat.melt(id_vars="cardio")
df_cat

        cardio     variable  value
0            0  cholesterol      0
1            1  cholesterol      1
2            1  cholesterol      1
3            1  cholesterol      0
4            0  cholesterol      0
...        ...          ...    ...
419995       0   overwieght      0
419996       1   overwieght      1
419997       1   overwieght      0
419998       1   overwieght      0
419999       0   overwieght      0

[420000 rows x 3 columns]

In [303]:
df_cat = df_cat.sort_values(by=["cardio","variable"])
df_cat

        cardio variable  value
280000       0   active      1
280004       0   active      0
280005       0   active      0
280006       0   active      1
280008       0   active      1
...        ...      ...    ...
209993       1    smoke      0
209994       1    smoke      0
209996       1    smoke      0
209997       1    smoke      0
209998       1    smoke      0

[420000 rows x 3 columns]

In [304]:
type(df_cat)

pandas.core.frame.DataFrame

# I am stuck here

In [305]:
df_cat=df_cat.value_counts()
df_cat =

cardio  variable     value
0       overwieght   0        34144
1       alco         0        33156
0       alco         0        33080
1       overwieght   0        32937
        smoke        0        32050
0       smoke        0        31781
        gluc         0        30894
        cholesterol  0        29330
        active       1        28643
1       gluc         0        28585
        active       1        27618
        cholesterol  0        23055
                     1        11924
        active       0         7361
        gluc         1         6394
0       active       0         6378
        cholesterol  1         5691
        gluc         1         4127
        smoke        1         3240
1       smoke        1         2929
        overwieght   1         2042
0       alco         1         1941
1       alco         1         1823
0       overwieght   1          877
dtype: int64

In [ ]:
df_cat1=df_cat.value_counts().to_frame()

In [307]:
test = pd.DataFrame({'a':[1, 1, 2, 2, 2]})
value_counts = test['a'].value_counts(dropna=True, sort=True)

# solution here
df_val_counts = pd.DataFrame(value_counts)
df_value_counts_reset = df_val_counts.reset_index()
df_value_counts_reset.columns = ['unique_values', 'counts'] # change column names
df_value_counts_reset

   unique_values  counts
0              2       3
1              1       2

In [187]:
# Draw Categorical Plot
def draw_cat_plot():
    # Create DataFrame for cat plot using `pd.melt` using just the values from 'cholesterol', 'gluc', 'smoke', 'alco', 'active', and 'overweight'.
    df_cat = df.filter(["cholesterol","gluc","smoke","alco","active","overwieght"],axis=1)
    df_cat = df_cat.melt(id_vars="cardio")

    # Group and reformat the data to split it by 'cardio'. Show the counts of each feature. You will have to rename one of the columns for the catplot to work correctly.
    df_cat = None

    # Draw the catplot with 'sns.catplot()'



    # Do not modify the next two lines
    fig.savefig('catplot.png')
    return fig

In [ ]:
# Draw Heat Map
def draw_heat_map():
    # Clean the data
    df_heat = None

    # Calculate the correlation matrix
    corr = None

    # Generate a mask for the upper triangle
    mask = None



    # Set up the matplotlib figure
    fig, ax = None

    # Draw the heatmap with 'sns.heatmap()'



    # Do not modify the next two lines
    fig.savefig('heatmap.png')
    return fig